<a href="https://colab.research.google.com/github/Thilagavijayan/Python_Examples_from_basics/blob/main/Session_5_For_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



1. Print "Hello world " 5times using for loop
2. Print 0-10 using for loop
3. Print only even numbers in 0 - 10 using for loop
4. Print each and every letter from "Hello World" orderly
5. Print every Words from list
6. Continue statement example
7. break statement example
8. pass statement example

In [ ]:
#Print "Hello world " 5times using for loop
print("Hello World")
print("Hello World")
print("Hello World")
print("Hello World")
print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World

In [ ]:
# Print "Hello world " 5times using for loop
for a in range(5):
  print("Hello World") #range(count)

Hello World
Hello World
Hello World
Hello World
Hello World

In [ ]:
# Print 0-10 using for loop
for i in range(0,11):
  print(i) #range(start,stop)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
# Print only odd numbers in 1 - 10 using for loop
for i in range(1,10,2):
  print(i)  # even numbers using range(start,stop,step)

1
3
5
7
9

In [ ]:
#Print each and every letter from "Hello World" orderly
word = "hello world"
for i in word:
  print(i)

h
e
l
l
o

w
o
r
l
d

In [ ]:
# Print every Words from list
fruits = ["apple", "Banana" , "cherry"]
for i in fruits:
  print(i)

apple
Banana
cherry

In [ ]:
# Continue statement example
for letters in "Hello World":
  if letters == "e":
    continue #skips the step
  print("Letters:" , letters)
print("End of Program")

Letters: H
Letters: l
Letters: l
Letters: o
Letters:
Letters: W
Letters: o
Letters: r
Letters: l
Letters: d
End of Program

In [ ]:
#prints the number except even
for num in [ 2,5,6,7,8,9]:
  if num % 2 == 0:
    continue #skips the step
  print(num)

5
7
9

In [ ]:
# break statement example
for word in "HelloWorld":
  print(word)
  if word == "o":
    break

H
e
l
l
o

In [ ]:
# break statement example
for letter in "python":
  
  if letter == "t":
    break
  print(letter)

p
y

In [ ]:
# Pass statement example
for num in range(10,26):
  if(num % 2 != 0): #11
    pass # eliminates
  else:
    print("Number:",num)

Number: 10
Number: 12
Number: 14
Number: 16
Number: 18
Number: 20
Number: 22
Number: 24