<a href="https://colab.research.google.com/github/Thilagavijayan/Python_Through_Examples/blob/main/Session_13_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = ['apple',1,3,True] # Creating the list
print(a)

['apple', 1, 3, True]

In [ ]:
b = [1,2,3,4,5]
print(b)

[1, 2, 3, 4, 5]

In [ ]:
a = ['apple',1,3,True]
print(type(a))

<class 'list'>

##Accessing the list

In [ ]:
print(a[1])

1

## OPERATION OF THE LIST

###LENGTH OF THE LIST

In [ ]:
print(len(a))

4

### adding the elements in list

In [ ]:
a = ['apple',1,3,True]#adding the single element in last
a.append("banana")
print(a)

['apple', 1, 3, True, 'banana']

In [ ]:
a = ['apple',1,3,True] # inserting the element in particular index
a.insert(1,"orange")
print(a)

['apple', 'orange', 1, 3, True]

In [ ]:
a = ['apple',1,3,True] 
b = [2,3,4,5]#combines both lists
a.extend(b)
print(a)

['apple', 1, 3, True, 2, 3, 4, 5]

### change the elements in the list --> Mutable

In [ ]:
a = [1,2,3,4]
a[2] = 5
print(a)

[1, 2, 5, 4]

## Removing the element in the list

In [ ]:
a = [1,2,3,4] # remove the particular value in the list
a.remove(2)
print(a)

[1, 3, 4]

In [ ]:
a = [1,2,3,4] # remove the particular value in the list using index
a.pop(1)
print(a)

[1, 3, 4]

In [ ]:
a = [1,2,3,4] # delete the whole list or the particular value in the list using index
del a[3]
print(a)

[1, 2, 3]

### Concatenation of the list

In [ ]:
a = [3,4,5,6] # concatenation
b1 = ['string',1,2,9]
c = a + b1
print(c)

[3, 4, 5, 6, 'string', 1, 2, 9]

##Slicing the list

In [ ]:
a = [1,3,56,78] #[start:stop:step]
print(a[::])

[1, 3, 56, 78]

### looping the list using for

In [ ]:
a = [1,3,56,78]
for x in a:
  print(x)

1
3
56
78

looping the list using while

In [ ]:
a = [1,3,56,78]
i = 0
while i<len(a): #0<4 1<4 2<4 3<4 4<4 
  print(a[i]) # a[0] a[1] a[2] a[3]
  i = i+1 #0+1 = 1 1+1 = 2 2+1 = 3 3+1 = 4

1
3
56
78

## Builtin functions in the lists

### Sorting

In [ ]:
a = [3,5,6,1,2] # 1 , 2 , 3, 5, 6
a.sort()
print(a)

[1, 2, 3, 5, 6]

In [ ]:
a = ['banana','apple','car','apple'] # abcd
a.sort()
print(a)

['apple', 'apple', 'banana', 'car']

## Copy

In [ ]:
a = ['banana','apple','car','apple']
b = a.copy()
print(a)
print(b)

['banana', 'apple', 'car', 'apple']
['banana', 'apple', 'car', 'apple']

Maximum and Minimum

In [ ]:
a = [1,2,4,5,6]
print(max(a))
print(min(a))

6
1

### Sum

In [ ]:
a = [1,2,4,5,6]
print(sum(a))

18

In [ ]:
a = [1,2,4,5,6]
b = sum(a)/len(a)
print(int(b))

3