<a href="https://colab.research.google.com/github/Thilagavijayan/Python_Through_Examples/blob/main/Session_15_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = {1,2,"apple"} # Creating a set
print(a)
print(type(a))

{1, 2, 'apple'}
<class 'set'>

In [ ]:
a = set((1,2,"apple"))
print(a)
print(type(a))

{1, 2, 'apple'}
<class 'set'>

In [ ]:
# access elements only ny using loop
a = {1,2,"apple"}
for x in a:
  print(x)

1
2
apple

In [ ]:
# Add the elements in sets
a = {1,2,"apple"}
a.add("banana") #add()
print(a)

{1, 2, 'banana', 'apple'}

In [ ]:
a = {1,2,3,4}
b = {5,6,7,8}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
a = set([1,2,3,4]) # shows wrong 
b = set([5,6,2,3,7,8])
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# Delete the elements
a = {1,2,35,45}
a.remove(2)
print(a)

{1, 35, 45}

In [ ]:
a = {1,2,35,45}
a.discard(2)
print(a)

{1, 35, 45}

In [ ]:
a = {1,2,35,45}
a.pop()
print(a)

{2, 35, 45}

In [ ]:
a = {1,2,35,45}
a.clear()
print(a)

set()

In [ ]:
a = {1,2,35,45}
del a
print(a)

NameError: ignored

In [ ]:
a = {1,2,3,4}
b = {5,6,7,8,8}
c = a.union(b)
print(c)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
a = set()
while True:
  elem = input("Enter the element to the set or quit using 'q':")
  if elem == 'q':
    break
  a.add(elem) # a, b 
print(a)

Enter the element to the set or quit using 'q':a
Enter the element to the set or quit using 'q':b
Enter the element to the set or quit using 'q':c
Enter the element to the set or quit using 'q':q
{'a', 'c', 'b'}

In [ ]:
a = {1,2,3,4}
b = a.copy()
print(b)

{1, 2, 3, 4}

In [ ]:
x = {1,2,3,8,5} # when the elements is present in other variable it eliminates and it print ther  other elements
y = {5,5,7,8,9}
z = x.difference(y)
print(z)

{1, 2, 3}

In [ ]:
x = {"apple","banana","cherry"}
y = {"red","pink","apple"}
z = x.symmetric_difference(y)
print(z)

{'cherry', 'red', 'banana', 'pink'}