<a href="https://colab.research.google.com/github/Thilagavijayan/Python_Examples_from_basics/blob/main/Session_9_Functions-II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. FIND MAX NUM
2. FIND THE LENGTH OF THE WORD
3. FIND AN AVERAGE NUMBER
4. FIND FACTORIAL OF THE NUM
5. REVERSE THE GIVEN STRING
6. PALINDROME

In [1]:
# Required Arguments
def display(a,b):
  print(a,b)
display(a = 10, b = 30) # Giving both values with variable in function call

10 30

In [2]:
# Keyword Arguements
def display(a,b):
  print(a,b)
display(b = 10, a = 30) # arguement calling using its keywords

30 10

In [5]:
# Variable Length Arguements
def display(*courses):
  for i in courses:
    print(i)
display("B.E","B tech","M.E","M tech")

B.E
B tech
M.E
M tech

In [6]:
# Default Arguements
def display(a,b=3):
  print(a,b)
display(2,5)
display(9)

2 5
9 3

In [7]:
# Maximum number
def max_num(list):
  return max(list)
print(max_num([6,4,8,9,10]))

10

In [8]:
# Length of the word
def length_word(text):
  return len(text)
print(length_word("HelloWorld"))

10

1. Average = sum of the value / Total length
2. [1,2,3,4,5]
3. avg = 15/5 = 3

In [10]:
# Average number
def average_num(num):
  return sum(num)/len(num)
print(int(average_num([1,2,3,4,5])))

3

1. Factorial 
2. 5! = 5 * 4 * 3 * 2 * 1 
3. 3! = 3 * 2 * 1 = 6
4. n! = n * n - 1 ==> 5 * 4

In [12]:
# Factorial
def factorial(n): #n=5 #n= 4 # n = 3 #n=2 #n = 1
  if n == 0 or n == 1:
    return 1
  else :
    return n * factorial(n-1) # 5 * 4 * 3 * 2 * 1
print(factorial(5))

24

hello = olleh

h -> 0,-5    e -> 1 ,-4   l -> 2, -3    l -> 3 , -2    o -> 4 , -1

In [21]:
# Reverse th string
def reverse_string(text):
  return text[::-1] #slicing
print(reverse_string("hello"))

olleh

palindrome => ex : radar = radar
madam = madam

In [24]:
def palindrome(text):
  text = text.lower().replace(" ","")
  return text == text[::-1]
print(palindrome("Madam")) #madam

True