<a href="https://colab.research.google.com/github/Thilagavijayan/Python_Examples_from_basics/blob/main/Session_3_Datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(type(4.0))

<class 'float'>

In [ ]:
print(type(0b10)) # Returns binary value 10

<class 'int'>

In [ ]:
print(0x123) # Returns hexadecimal value 123

291

In [ ]:
print(0o123) # Returns octal value 123

83

In [ ]:
print( 10 + 10.6) # addition of int and float returns the added value

20.6

In [ ]:
print( "10" + 10.6) # combination of string and float is not possible it returns Type Error

TypeError: ignored

In [ ]:
print("10" + "10.6")
print(type("10" + "10.6")) # using of both strings it can concatenate

1010.6
<class 'str'>

p - 0 y - 1 t - 2 h - 3 o - 4 n -5

In [ ]:
name  = ("java", 0 ,4.5) # Tuples
print(name[0])

java

In [ ]:
name = "hello" # Strings
print(name[0])

h

In [ ]:
print( 6 * "hello \n value") # \n ---> nextline

hello
 valuehello
 valuehello
 valuehello
 valuehello
 valuehello
 value

In [ ]:
print("python's") # double quotation

python's

In [ ]:
print('python"s') # Single Quotation

python"s

In [ ]:
a = 5
print(a)

5